/*******************************
	All Responsive Code
*******************************/
@media (max-width: 767px) {
  .dropdown-menu.show {
    display: block;
  }
  .navbar {
    padding: 10px;
  }
  .nav-classic .navbar-light .navbar-toggler {
    margin-left: auto;
  }
  .nav-classic .navbar-collapse {
    background: #000;
  }
  .nav-classic .navbar ul > li > a {
    color: #fff;
  }
  .nav-classic .navbar-nav {
    margin-top: 60px;
  }
  .nav-standard .navbar .navbar-nav .dropdown a {
    color: #fff;
  }
  .navbar-sticky.sticky {
    position: relative;
  }
  ul.navbar-nav li a {
    position: relative;
    padding: 0;
  }
  ul.navbar-nav li .dropdown-menu li a {
    border: none;
  }
  ul.navbar-nav > li > a {
    line-height: 60px;
  }
  ul.navbar-nav > li > a:before {
    position: absolute;
    font-family: 'FontAwesome';
    content: "\f107";
    right: 15px;
    top: 0;
    font-size: 25px;
    line-height: 60px;
    color: #fff;
    font-size: 14px;
  }
  .navbar-nav {
    text-align: left;
  }
  .nav-item a:after,
  .navbar .nav-right .nav-search-btn {
    display: none;
  }
  .nav-item:hover .dropdown-menu {
    display: none;
  }
  ul.navbar-nav li .dropdown-menu {
    background: transparent;
  }
  ul.navbar-nav li .dropdown-menu li a {
    color: #fff;
    padding: 5px 0;
  }




  .header-area .navbar {
    background: #000;
  }
  .navbar-nav li:after {
    font-size: 16px;
    line-height: 55px;
  }


}
