/*------------------------------------------------------------------
[Master Stylesheet]

Project:    Project Name
Version:    1.0
Last change:    24/03/17 [fixed Float bug, vf]
Author Name: Author Name
Primary use:    Project Type
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Table of contents]

1. Body
2.
-------------------------------------------------------------------*/

/*
==========================================
    Reset Css
==========================================
*/

body{
	color:#a9a9a9;
	font-size:14px;
	line-height:1.7;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
a:hover{
	text-decoration:none;
}
.header-area{
}
.header-absoulate-area{
	position:fixed;
	z-index:3;
	width:100%;
}
.logo {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    padding: 9px;
	font-family: 'Source Sans Pro', sans-serif;	
}
.main-menu a,.logo a {
    color: #fff;
}
.main-menu li {
	position:relative;
    display: inline-block;
}

.main-menu li a {
    display: block;
    padding: 12px 15px;
	text-decoration:none;
}

.main-menu li ul {
    position: absolute;
    left: 0;
    top: 86px;
    background: #fff;
    width: 250px;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
	padding:10px;
	box-shadow:0 0 5px #f6f6f6;
}

.main-menu li:hover ul {
    opacity: 1;
    visibility: visible;
    top: 45px;
}

.main-menu li ul li {
    display: block;
}
.main-menu li li a {
    padding: 7px 15px;
	color: #000;
}

.main-menu li:hover > a {
    color: #fb414e;
}

.main-menu li:hover li:hover > a {
    background-color: #fb414e;
	color:#fff;
}
/*==================Slide Area================*/
.slide-bg-1{
	background-image:url(../img/bg-1.jpg);
}
.single-slide-item {
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center center;
	background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    color: #fff;
    line-height: 2;
}

.single-slide-item:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #050505;
    z-index: -1;
    opacity: 0.5;
}

.single-slide-item .d-table-cell {
    vertical-align: middle;
}

.single-slide-item h2 {
    font-size: 30px;/*In PSD Text Size shown 60pt*/
    margin-bottom: 20px;
	font-family: 'Source Sans Pro', sans-serif;	
	font-weight:900;
}

.boxed-btn {
    display: inline-block;
    background: #fb414e;
    border: 1px solid #fb414e;
    color: #fff;
    padding: 8px 30px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
}

.boxed-btn.bordered-btn {
    background-color: transparent;
    border-color: #fb414e;
}

.slide-buttons {
    margin-top: 30px;
}

.slide-buttons a {
    margin-right: 15px;
}
.slider-area .owl-dots div {
    height: 25px;
    width: 2px;
    background-color: #fff;
    display: inline-block;
    margin-right: 8px;
}

.slider-area .owl-dots {
    position: relative;
    left: 0;
    top: -80px;
    width: 1110px;
    margin: 0 auto;
}

.slider-area .owl-dots div.active {
    height: 30px;
    background-color: #fb414e;
}
.slider-area{
	
}
/*Concept Section*/
.single-concept-item {
    margin: 5px;
    background-color: #202b30;
    /*box-shadow: 2px 4px 8px #aba3a3;*/
	padding: 22px 32px;
    color: #fff;
	transition:0.3s;
}

.single-concept-item i.fa {
    font-size: 40px;
	margin-top: 10px;
}

.single-concept-item p {
    text-align: justify;
}
.border-line {
    height: 1px;
    border: 1px solid #fff;
    display: inline-block;
}
.concept-section {
    margin-top: -80px;
	z-index:2;
	position: relative;
}
.single-concept-item:hover {
    background-color: #fb414e;
}